html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

/* menu */
.contenedor-navegacion {
    padding: 20px;
    background-color: #042c4b !important;
}

.nav-item a {
    color: white;
}

.logo {
    width: 150px;
    height: 80px;
    margin-right: 30px;
}

.contacto {
    color: white;

}

/*fin menu*/

/*----------------------------------------------------------*/
/*menu secundario*/

.menu-off {
    background-color: #042c4b !important;
}
.navbar-toggler{
    background-color: rgb(254, 253, 255) !important;
}

.offcanvas-header .btn-close {
  filter: invert(1); 
  opacity: 1;        
}



/* Metodos pago */

.metodos-pago {
    background-color: #042c4b;
}

.metodos-pago h3 {
    color: white;
    font-size: 2rem;
}


.metodos-pago {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Seccion pagos*/

.pagos {
    background-color: #dbe3eb;
    /* background: linear-gradient(to right, #00008b, #1e90ff, #DBE3EB);*/
    padding-bottom: 25px;
}

.pagos .container {
    text-align: center;
    padding: 20px 0px;
}

.pagos .container h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 61px;
    font-family: Arial, Helvetica, sans-serif;
}

/*pagos presencial*/
.icon-check {
    font-size: 35px;
    color: black;
    transition: color 0.5s ease;
}

.icono-caracteristica,
.parrafo-caracteritica {
    height: 100%;
    display: flex;
    align-items: start;
}

.contenedor-caracteristicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0;
    padding: 0px !important;
}

.contenedor-botones {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.texto-caracteristica {
    display: block;
    padding-top: 10px;
    margin-bottom: 0px;
}

.opcion-caracteristica {
    display: block;
    width: 300px;
    height: 60px;
    transition: color 0.5 ease;
}
.parrafo-caracteristica{
    width: 265px;
}


.opcion-caracteristica:hover .icon-check {
    color: #25d366;
}

.presencial {
    border-bottom: 2px solid transparent;

}

.presencial p,
.virtual p {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}


.presencial,
.virtual {
    cursor: pointer;
}

.presencial:hover {
    border-bottom: 2px solid red;
}

.presencial:hover p,
.virtual:hover p {
    transform: scale(1.1);
}

/*fin pagos presencial*/

/* pago virtual*/



.card-products__items-item:not(:last-child) {
    margin-bottom: 24px;
}

.card-products__items-item {
    display: flex;
    align-items: center;
}

.card-products__items-text {
    line-height: 128%;
}

.boton-orange {
    background-color: orange;

    border: none;
}

.boton-orange:hover {
    background-color: rgb(180, 119, 6);
    color: black;
}

.contenedor-pagos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    max-width: 1200px;
    
}
.contenedor-pagos-mensual,.contenedor-pagos-anual{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 15px !important;

}

.contenedor-pagos-anual{
    display: none;
}
.contenedor-imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo-virtual,
.modelo-virtual {
    width: 150px;
    height: 80px;
}



.nav-item a:hover {
    color: red;
}

.navbar .nav-link:active,
.navbar .nav-link:focus {
    color: green !important;
}

.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.formulario-total {
    background: linear-gradient(to bottom right, #1e90ff, #00008b);
}

.titulo-contacto h2,
.titulo-contacto h4 {
    margin: 0;
    padding: 0;
    color: #042c4b;
}

.titulo-contacto h2 {
    padding-top: 20px;
    color: #042c4b;
}

.boton-enviar-formulario {
    width: 100%;
}

/* formulario */
#miFormulario {
    border: 4px solid #042c4b;
    border-radius: 20px;
    padding: 20px;
    /* box-shadow: 4px 4px 8px #E9E33F ; */
}

.miFormulario {
    min-width: 350px;
    width: 500px;
    background-color: white;
}

.miFormulario input[type="text"] {
    border: 1px solid #042c4b;
    /* box-shadow: 4px 4px 8px rgba(0,0,0,0.5); */
}

.miFormulario input[type="text"]:focus {
    border: 1px solid #e1c11f;
    /* box-shadow: 0px 0px 0.5rem  #e1c11f !important; */
}

#miFormulario label {
    font-weight: bold;

}


.whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.whatsapp-float {
    background-color: #25d366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-float img {
    width: 50px;
    height: 50px;
    display: block;
}

.whatsapp-coment {
    background-color: #25d366;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    opacity: 0;
    transform: translateX(20px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    white-space: nowrap;
}

.whatsapp-container:hover .whatsapp-coment {
    opacity: 1;
    transform: translateX(0);
}

.whatsapp-coment p {
    margin: 0;
    padding: 0;
}


@media (max-width: 768px) {
    .black {
        flex-direction: column;
    }
    .pagos .container h2{
        font-size: 23px;
    }
}